html {
  font-family: 'Poiret One', cursive;
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin: 0;
}

h2 {
  font-weight: 100;
}

h3 {
  font-size: 18px;
  position: relative;
  top: 35.5%;
  left: 3.5%;
  font-weight: 100;
}

hr.light {
  border-top: 1px solid #fff;
}

small {
  color: #fff;
}

.mast {
  background-image: url('../img/dana_bg.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 650px;
  color: white;
}

.mast h1 {
  font-weight: 100;
  position: relative;
  top: 35%;
  left: 3%;
  width: 95%;
}

.mast h3 {
  left: 3%;
  width: 95%;
}

.materialboxed {
  cursor: pointer;
}

.services {
  background-image: url('../img/services_bg_1.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 650px;
  padding: 3.5%;
}

.services h2 {
  color: #fff;
}

.collapsible-body {
  background-color: #fff;
}

.services h2 {
  color: #fff;
}

.collapsible-body p {
  padding: 1rem;
}

footer {
  background: #212121;
  color: #fff;
}

.footer-row {
  margin-bottom: 0;
}

.input-field label {
  color: #fff;
}

@media screen and (max-width: 375px){

  .services {
    padding: 1.5%;
    height: 700px;
  }
}
